@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
$cmured : rgba(196, 30, 58, 1);
@mixin keyframes( $animationName )
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin animation($str) {
	animation: #{$str};
  }

@include keyframes(selected){
    from{

        border:6px solid rgba(196, 30, 58, 0);
    }
    50%{
        border:6px solid rgba(196, 30, 58, 0);
    }
    51%{
        border:6px solid rgba(196, 30, 58, .6);
    }
    to{
        border:6px solid rgba(196, 30, 58, .6);
    }
  }
.App {
  text-align: center;
  font-family: roboto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.header{
    height:70px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display:flex;
    align-items: center;
    padding:0 30px;
    justify-content: space-between;

    .left{
        display:flex;
        div{
            margin:0 20px;
        }
        #cmu{
            font: {
                size: 18px;
                weight: bold;
            }
            color: $cmured;
        }
        .title{
            font: {
                size: 18px;
                weight: bold;
            }
            color: rgba(0,0,0,0.5);
        }
    }
    .subtitle{
        margin:0 20px;
        color:rgba(0,0,0,0.5);
        font-size: 16px;
        
    }
}
.mainContent{
    padding: 60px 5%;
    max-width: 1000px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;

    .robot_wrapper{
        width:260px;
        max-width:100%;
        img{
            margin: 0;
            padding: 0;
        }
        #head{
            width:50%;
            transition: .15s;
        }
        #body{
            width: 100%;
            margin-top: -5px;
        }
    }
    .question{
        width: calc(90% - 270px);
        max-width: 512px;
        transition: .3s;
        .title{
            font: {
                size: 18px;
                weight: bold;
            }
            color: rgba(0,0,0,0.5);
            margin: 16px 0;
        }
        .subtitle{
            margin: 16px 0;
            color: rgba(0,0,0,0.9);
            font: {
                size: 16px;
            }
            &.center{
                width: 100%;
                text-align: center;
                font: {
                    size:18px;
                    weight: bold;
                }
            }
           
        }
        .chart{
            width: 100%;
            text-align: center;
            margin:30px 0;
        }
        &.dog{
            max-width: 1000px;
            width: 100%;
            #parts{
                max-width: 600px;
                margin:30px auto 90px;
                display: block;
            }
        }
       
    }
    .chartPage{
        width: 100%;
        max-width: 1200px;
        .btn{
            display:block;

        }
    }
    .chartwrap{
        margin:30px 0;
        text-align: center;
        width: 50%;
        display: inline-block;
        .title{
            font: {
                size: 18px;
                weight: bold;
            }
            color:rgba(0,0,0,0.9);
            margin-bottom: 30px;
        }
    }
}
.dog_sample{
     display:flex;
     justify-content: space-between;
     width: 800px;
     margin: 30px auto;
    #dogphoto{
        width: 95%;
        max-width:200px;
        margin:0 60px 0 0;
        img{
            width: 100%;
            border-radius: 6px;
        }
    }          
}
.sample_question{
text-align: center;
}
.samples{
    display:flex;
    margin: 40px 0;

    img{
        max-width: 100px;
        height: 100px;
        margin:0 10px;
        border-radius: 12px;
        border:6px solid rgba(196, 30, 58, 0);
        cursor: pointer;
        transition: .3s;
        &:hover, &.selected{
            border:6px solid rgba(196, 30, 58, .7);
        }
        &.selected{
            // @include animation(selected);
            // animation-duration: 1s;
            // animation-iteration-count: 3;
            // animation-fill-mode: forwards;
        }

    }
}
.btn{
    display: block;
    padding: 10px 60px;
    margin: 10px 0;
    background: rgba(0,0,0,0.2);
    font: {
        size: 16px;
        weight: bold;
    }
    cursor: not-allowed;
    color:rgba(0,0,0,0.5);
    transition: .3s;
    &.active{
        background: $cmured;
        color:#fff;
        cursor: pointer;
    }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
